@primaryColor: #020407;
@primaryColorHover: #57a3f3;
@header-height: 64px;
@footer-height: 70px;

// 自行定义变量
@font-size-base: 10px;
@font-size-sm: 15px;
@font-size-md: 20px;
@font-size-lg: 25px;
@font-size-xl: 30px;
@font-size-xxl: 40px;

@font-weight-sm: 500;
@font-weight-md: 600;
@font-weight-lg: 700;


// padding
@padding-base: 5px;
@padding-sm: 10px;
@padding-md: 20px;
@padding-lg: 25px;

// background
@background-color-soft: #f9f9f9;

